.product-card{
    height: 400px;
    margin: 0;
    width: 300px;
}

.product-card-image{
    height: 150px;
}

.product-card-body{
    margin: 0;
    padding: 0;
    height: 150px;
    overflow-wrap: break-word;
    overflow-y: hidden;
}